[Unit]
Description=To change In test buffer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/ASTPP/misc/addonwatch.py
TimeoutStartSec=0

[Install]
WantedBy=default.target
